/*自定义样式*/


/*commonn css default font-size 100%.==>16px*/
body{
	font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
	font-size: 100%;
}

/*font icon*/
@font-face{
	font-family: weijinsuo;
	src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
	url('../font/MiFie-Web-Font.svg') format('svg'),
	url('../font/MiFie-Web-Font.ttf') format('truetype'),
	url('../font/MiFie-Web-Font.woff') format('woff');
}

/* class*=" balabala" 空格一定要加上*/
[class^="icon-"],[class*=" icon-"]{
	font-family: weijinsuo;
	font-style: normal;
}

/*标准伪元素使用双冒号*/
.icon-mobilephone::before {
  content: "\e908";
  font-size: 13px;
}

.icon-telephone::before {
  content: "\e909";
  font-size: 15px;
}

.icon-logo::before {
  content: "\e93e";
}

.icon-icon::before {
  content: "\e920";
}


/*header*/
#header{

}

#header  .topbar{
	height: 3.5rem;
	line-height: 3.5rem;
	color: #888;
	border-bottom: 1px solid #c0c0c0;
}

#header  .topbar  .container  .row  div {
  height: 3.5rem;
  font-size: 1rem;
  color: #888;
}

#header .topbar .container .row div + div{
	border-left: 1px solid #c0c0c0; 
}

#header .mobile-link{
	color: #888;
}

#header .mobile-link:hover{
	text-decoration: none;
}
#header img{
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	top:25px;
	z-index: 1001;
}
#header .mobile-link:hover >img{
	display: block;
}

#header .link{
	color: #888;
}

#header .link:hover{
	text-decoration: none;
}

#header .icon-icon{
	font-size: 5rem;
	color: #E92322;	
}
#header .icon-logo{
	font-size: 5rem;
	color: #333333;
}
/*nav*/
.navbar-weijinsuo{
	margin-top: 1rem;
	height: 5rem;
}

.nav li a {
	font-size: 1.5rem;
}



